/* 导入自定义字体 */
@font-face {
    font-family: 'mainfont';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-display: swap;
}

/* 设置整个网站的默认字体 */
body {
    font-family: 'mainfont', serif;
    margin: 0;
    padding: 0;
    background-color: #111111;  /* 设置空白区域为黑色 */
}

/* 顶部导航栏 */
header {
    background-color: #111111;
    color: rgb(255, 255, 255);
    padding: 0px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

nav ul { list-style: none; margin:0; padding:0; }
nav ul li { display:inline; }
nav ul li a { color:white; text-decoration:none; font-size:14px; }
nav ul li a:hover { text-decoration:underline; }

/* 中间 WORKS 位置单独设置 */
nav ul.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  /* 居中 */
}

/* 主页图片 */
.cover-image {
    position: absolute;         /* 绝对定位 */
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);/* 使图片上下完全居中 */
    z-index: 5;                /* 层级 */
}

.cover-image img {
    width: 100vw;
    height: auto;
}

/* Me图片 */
.me-image {
    position: absolute;         /* 绝对定位 */
    bottom: 15vh;
    right: 5vw;
    z-index: 6;                /* 层级 */
}

.me-image img {
    width: auto;
    height: 25vh;
}

/* 页面底部文字 */
.bottom-text {
    position: fixed;          /* 固定在屏幕底部 */
    bottom: 5vh;             /* 比底部按钮高出一点，保持间距 */
    left: 10vw;
    width: 100%;              /* 宽度自适应屏幕 */
    text-align: left;       /* 居中显示 */
    color: white;             /* 白色文字 */
    font-family: 'mainfont', serif;  /* 使用你设置的 mainfont */
    font-weight: bold;        /* 加粗 */
    font-size: 15vw;           /* 宽度自适应屏幕的字体大小 */
    z-index: 20;              /* 确保层级高于背景和图片 */
    pointer-events: none;     /* 不影响点击事件，比如底部按钮 */
}

/* 底部社交按钮 */
.links {
    position: fixed;        /* 固定在页面底部 */
    bottom: 2vh;           /* 距离底部 40px */
    left: 50%;              /* 居中定位 */
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;              /* 两个按钮之间的间距 */
}

.links a img {
    vertical-align: middle; /* 垂直居中 */
}

/* 调整logo图标的大小 */
.links img { height:auto; }
.xiaohongshu-icon img { height:15px; }
.bilibili-icon img { height:13px; }
